/**
  * Items about to enter can be set to hidden with
  * this initial style. It avoids any visual flicker
  */
.item[data-initial] {
  opacity: 0;
  transform: translateY(100%) scale(1.05);
}

/**
  * Runs the enter animation. 
  * --i is automatically set to enable staggered animations,
  * but you can also choose to ignore it
  */
.item[data-enter] {
  animation: enter 250ms calc(var(--i, 0) * 0.2s)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

/**
  * Runs the exit animation.
  */
.item[data-exit] {
  animation: exit 200ms calc(var(--i, 0) * 50ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* 
       * Sets up the position (FLIP) transition
       * --distance is automatically set to the relative
       * distance each node is travelling to enable
       * more natural feeling transitions
       */
.item[data-position] {
  transition: calc(180ms + (var(--distance, 1) * 20ms)) linear;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(100%) scale(1.05);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(128px);
  }
}
