.app-profile {
  padding: 10px;
}

p[data-initial] {
  opacity: 0;
}
p[data-enter] {
  animation: enter 1s 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
[data-exit] {
  animation: exit 1s calc(var(--i, 0) * 30ms) cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
