[data-enter] {
  animation: enter 200ms calc(var(--i, 0) * 30ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

[data-exit] {
  animation: exit 200ms calc(var(--i, 0) * 30ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item[data-initial] {
  opacity: 0;
  transform: translateY(-24px);
}

.item[data-enter] {
  animation: enter 400ms calc(var(--i, 0) * 30ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item[data-exit] {
  animation: exit 400ms calc(var(--i, 0) * 30ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

.balls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}

.ball {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background: #eee;
}

.ball + .ball {
  margin-left: 16px;
}

.ball[data-initial] {
  opacity: 0;
  transform: translateY(24px);
}

.ball[data-enter] {
  animation: ball-enter 1s calc(var(--i, 0) * 50ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ball[data-exit] {
  animation: ball-exit 1s calc(var(--i, 0) * 50ms)
    cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(24px);
  }
}

@keyframes ball-enter {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ball-exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-24px);
  }
}

ul,
li {
  list-style: none;
  padding: 0;
}

ul {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

ul > li + li {
  margin-left: 1rem;
}

a {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #1e88e5;
}
a:hover,
a:active {
  color: #1565c0;
}

.base,
.a,
.b,
.c {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
